<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Busqueda</title>
</head>
<body>
    
<h1> Ingrese el nombre del perfume que buscas: </h1>
    <form action="/perfuApp/buscar" method="GET">
        <input type="text" name="nombre" id="nombre">
        <input type="submit" name="Buscar">
     </form>

     {% if masculinas %}

    <h2 style="color:rgb(8, 153, 153)">Estamos buscando: {{nombre}}</h2> 
    <ul>
	{% for masculinas in masculinas %}
		<li> {{masculinas.nombre}}, {{masculinas.fecha}} </li>
		
	{% endfor %}

    </ul>
    <button><p><a href=" ../">Regresar</a></button>s

    {% endif %}



</body>
</html>