{% extends "home.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1> Listado de fragancias masculinas </h1>

<body>
    {% for p in masc %}
        <li>{{p}}</li>  
        <button>
            <a href="{% url 'eliminarmasc' p.nombre %}"> Eliminar</a>
            <a href="{% url 'editarmasc' p.nombre %}"> Editar</a> -->
        </button>
    {% endfor %}
    
    
    <br>
   <button> <a href="{% url 'masculinas' %}">Agregar otra fragancia</a> </button>
    <br>
    <button><p><a href=" ../perfuApp">Regresar</a></button>


</body>

{% endblock %}